 

.login-form {
    width: 400px;
    height: 100%;
    background: #f4b328;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    padding: 40px 30px;
     
}

.login-form .login-text {
    color: #200769;;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.login-form .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.login-form .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.login .login-email .input-group input:focus,
.login .login-email .input-group input:valid {
    border-color: #a29bfe;
}

.login-form .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #200769;;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.login-form .login-email .input-group .btn:hover {
    transform: translate(-5px);
    background: #6c5ce7;
}

.login-register-text {
    color: #111;
    font-weight: 600;
}

.login-register-text a {
    text-decoration: none;
    color: #6c5ce7;
}